<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id='container'>
      {{{ markup }}}
    </div>
    <script src="react.js"></script>
    <script src="JSXTransformer.js"></script>
    <script src="jquery.min.js"></script>
    <script type="text/jsx" src="bundle.js"></script>
  </body>
</html>
